#Stuff i don't want
Exam01/Exam01.zip
Exam01/Rapport.pdf
Exam01/Sketch_pdf.pdf
Exam01/VID_20150930_185105.mp4
Exam01.zip

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
